<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <p>
                        @Resources.COPYRIGHT &copy; 2021 WinLogic Technologies, LTD

                        - Developer: <a rel="nofollow noopener" href="#" target="_blank">Hassnain Ali</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

