@using OnlineStore.Models.WebModels
@using OnlineStore.Helpers
@using System.Security.Claims
@model CartViewModels


<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<style type="text/css">

    body {
        background: #f2f2f2;
    }

    .payment {
        border: 1px solid #f2f2f2;
        height: 280px;
        border-radius: 20px;
        background: #fff;
    }

    .payment_header {
        background: rgba(255,0,0);
        padding: 20px;
        border-radius: 20px 20px 0px 0px;
    }

    .check {
        margin: 0px auto;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: #fff;
        text-align: center;
    }

        .check i {
            vertical-align: middle;
            line-height: 50px;
            font-size: 30px;
            color: rgb(0, 153, 0);
        }

    .content {
        text-align: center;
    }

        .content h1 {
            font-size: 25px;
            padding-top: 25px;
            color: rgb(0, 153, 0);
        }

        .content a {
            width: 200px;
            height: 35px;
            color: #fff;
            border-radius: 30px;
            padding: 5px 10px;
            background: rgba(255,0,0);
            transition: all ease-in-out 0.3s;
        }

            .content a:hover {
                text-decoration: none;
                background: #000;
            }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <div class="payment">
                <div class="payment_header">
                    <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
                </div>
                <div class="content">
                    <h1>Payment Success !</h1>
                    <p>Dear valued customer, we hope your experience was awesome and we can’t wait to see you again soon. Thank you for your order. </p>
                    <a href="/">Go to Home</a>
                </div>

            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
const { json } = require("modernizr");

        $(document).ready(function () {
var total= "/****************************************************************************************************************/";
        var orderDetails=[];
            var ord = $.cookie('CartProducts').split("-");

        debugger;
        $.each(ord, function (index, value) {
           var orderDetail = {
                PId: value  ,
                OrderID : "",
                ProductPurchasePrice :"",
                ProductSellPrice :"",
                Quantity :1,
                Discounts:""
            }
            orderDetails.push(orderDetail);
        });



        var userId="/*****************************************************/"
        var order = {
            TotalAmount: total,
            UId: "userId",
            Status: "Success",
            OrderDetails: orderDetails
        };

        $.ajax({
            type: "POST",
            url: "https://localhost:44361/api/cart/AddItems",
            headers: {
                'Authorization': 'Bearer ' + sessionStorage.getItem("access_token")
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(order),
            success: function (a) {
                alert(JSON.stringify(a))
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

        })
    </script>
}
